.loginContainer{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#0d6efd,#5dade2);

}

.loginBox{

background:white;

padding:40px;

width:420px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.15);

text-align:center;

}

.loginBox h2{

margin-bottom:15px;

color:#0d6efd;

}

.loginBox p{

margin-bottom:20px;

color:#555;

}

.loginBox input{

width:100%;

padding:12px;

margin:12px 0;

border:1px solid #ccc;

border-radius:8px;

}

.loginBox button{

width:100%;

padding:12px;

background:#0d6efd;

color:white;

border:none;

border-radius:8px;

cursor:pointer;

margin-top:15px;

}

.registerBtn{

background:#28a745 !important;

}