.providerDashboard{

display:flex;

min-height:100vh;

background:#f5f0ff;

}

.providerSidebar{

width:240px;

background:#6f3ac7;

padding:25px;

display:flex;

flex-direction:column;

}

.providerSidebar h2{

color:white;

margin-bottom:30px;

}

.providerSidebar a{

color:white;

text-decoration:none;

padding:12px;

margin-bottom:10px;

border-radius:8px;

transition:.3s;

}

.providerSidebar a:hover{

background:#4d2590;

}

.providerContent{

flex:1;

padding:30px;

}

.providerTop{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:30px;

}

.providerTop button{

background:red;

color:white;

border:none;

padding:10px 20px;

border-radius:8px;

}

.providerCards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(220px,1fr));

gap:25px;

margin-bottom:35px;

}

.providerCard{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

text-align:center;

}

.recentPatients{

background:white;

padding:25px;

border-radius:15px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}
